@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
*{
    margin: 0;

    padding: 0;
}
:root{
    --blue:#22D4FD;
    --black:#000;
    --background: #171d1f;
    --white-text: #DCD7C9;
    --white: #fff;
    --cor-hover: #3F4E4F;
    --cor-hover-blue: #72FFFF;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
html{
    font-size: 62,5%;
}

/* header  */
.cabecalho__menu{
    display: flex;
    gap: 4rem;

    overflow: hidden;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria); 
    font-weight: 600; 
    color: var(--blue);
}
.cabecalho__menu__link:hover{
    color: var(--cor-hover-blue)
}

/* footer  */
.rodape{
    /* margin-top: 4rem; */
    background-color: var(--blue);
    padding: 1rem;

    text-align: center;
} 
.rodape p{
    color: var(--black);
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    /* font-family: 'Krona One', sans-serif; */
    font-weight: 500;
} 

body{
    /* height: 100%;
    width: 100%; */

    box-sizing: border-box;
    background-color: var(--background);
    color: var(--white-text);
}

/* tema dark */
.light {
	background-color: #f3f3f3; /*cor de fundo do tema dark*/
	color: var(--black); 
    /*cor de texto do tema dark*/
}

.light .titulo-destaque{
    color: var(--black);
}

.light .cabecalho__menu__link{
    color: var(--black);
}
.light .cabecalho__menu__link:hover{
    color: var(--blue);
}
.light #tema{
    color: #000;
}
.light #tema:hover{
    color: #22D4FD;
}

.light section p{
    color: var(--black);
}

/* cor do button */
#theme-toggle{
    border: none;
    background-color:transparent;
    color: var(--blue);
}

/*hover do alterar tema*/
#tema:hover{
    color: var(--cor-hover-blue);
    
}
.light .apresentacao__conteudo__buttons__button{
    background-color: #22D4FD;
    color: #000;
    border: 2px solid var(--background);
}
.light .apresentacao__conteudo__buttons__button:hover{
    background-color: var(--cor-hover-blue);
}

.light .apresentacao__conteudo__kills{
    color: var(--black);
}
.light .apresentacao__conteudo__kills__texto{
    color: var(--black);
}
.light .icones{
    color: #000;
}

/* fim tema dark */

.apresentacao{
    padding: 5% 7%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*separando os elementos section e img*/
    gap: 4rem   ;
}
/* CSS da pagina de tecnologias */
.apresentacao__tecnologias{
    padding: 5% 7%; 
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /*separando os elementos section e img*/
    gap: 4rem   ;
}
.apresentacao__conteudo__titulo__tecnologias{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    margin-bottom: 2rem;
    text-align: center;
}
/*fim do CSS da pagina de tecnologias */

/* CSS da pagina de projetos */
table {
    max-width: 800px; /* Largura máxima da tabela */
    margin: 0 auto; /* Margens automáticas para centralizar a tabela */
}
/*Fim do CSS da pagina de projetos */
.titulo-destaque{
    color: var(--blue);
}
.apresentacao__conteudo{
    /* responsividade */
    width: auto;
    /* responsividade */
    /* width: 45rem; */
    display: flex;
    flex-direction: column;
    gap: .7rem;

}

.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}
.apresentacao__conteudo__texto{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
    padding-right: 3rem;
    color: var(--white-text);
}

/* parte de skills */
.apresentacao__kills{
    padding: 5% 7%; 
}
.apresentacao__conteudo__kills{
    margin-top: 5rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--white-text);
    font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo__kills__texto{
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0% 5% 0% 5%;

    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--white-text);
}
.apresentacao__conteudo__kills__li{
    margin: 2% 4% 2% 4%;
}
/* fim da parte de skills */


.apresentacao__imagem{
    /* responsividade */
    width: 28%;
    /* responsividade */
    border-radius: 5%;
}

.apresentacao__conteudo__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    margin: 5rem 0rem;
}
.apresentacao__conteudo__subtitulo{
   font-size: 1.6rem;
   font-family: var(--fonte-primaria);
   font-weight: 400; 
   margin-bottom: 1rem;
}
.apresentacao__conteudo__buttons__button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .8rem;

    text-decoration: none;
    /*tirar linha do link*/

    border: 2px solid var(--blue);
    border-radius: .5rem;

    color: var(--white-text);
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;

    text-align: center;
    /* responsividade */
    width: 17%;
    /* responsividade */
    padding: .7rem 1.5rem;
}
.apresentacao__conteudo__buttons__button:hover{
    background-color: var(--cor-hover);
}

/* responsividade para telas pequenas */
@media (max-width: 915px){
    .cabecalho{
        padding: 10%;
        padding-bottom: 2rem;
    }
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%
    }
    .apresentacao__conteudo{
        /* faz com que o texto preencha todo padding da classe mae*/
        width: auto;
    }
    .apresentacao__conteudo__subtitulo{
        font-size: 1.2rem;
    }
    .apresentacao__conteudo__buttons__button{
        width: 35%;

    }
}
@media(max-width: 740px){
    .apresentacao{
        padding: 5% 8%; 
    }
    .apresentacao__conteudo{
        /* faz com que o texto preencha todo padding da classe mae*/
        width: auto;
    }
    .apresentacao__conteudo__titulo{
        font-size: 1.6rem;
        font-family: 'Nunito Sans', sans-serif;
    }
    .apresentacao__conteudo__texto{
        font-size: 1.3rem;
        color: var(--white-text);
    }
    .apresentacao__conteudo__buttons__button{
        width: 35%;
    }
    .apresentacao__imagem{
        width: 28%;
        height: 7rem;
    }

    /* aqui é a parte de skills */
    .apresentacao__conteudo__kills__texto{
        font-size: 1.3rem;
    }
    .apresentacao__conteudo__kills__li{
        margin: 5% 5% 5% 5%;
    }
}